<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
